<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hnpbc.dao.sys.RoleMapper">
  <resultMap id="BaseResultMap" type="hnpbc.entity.sys.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ID_" jdbcType="VARCHAR" property="id" />
    <result column="CREATE_DATE_" jdbcType="TIMESTAMP" property="createDate" />
    <result column="MODIFY_DATE_" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="DESCRIBE_" jdbcType="VARCHAR" property="describe" />
    <result column="ENABLED_" jdbcType="BIT" property="enabled" />
    <result column="NAME_" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <resultMap id="RoleResultMap" type="hnpbc.entity.sys.Role">
    <!--
      huangzhongwei
    -->
    <result column="ID_" jdbcType="VARCHAR" property="id" />
    <result column="CREATE_DATE_" jdbcType="TIMESTAMP" property="createDate" />
    <result column="MODIFY_DATE_" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="DESCRIBE_" jdbcType="VARCHAR" property="describe" />
    <result column="ENABLED_" jdbcType="BIT" property="enabled" />
    <result column="NAME_" jdbcType="VARCHAR" property="name" />
    <collection property="users" ofType="hnpbc.entity.sys.User">
      <result column="USERNAME_" jdbcType="VARCHAR" property="username" />
    </collection>
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    ID_, CREATE_DATE_, MODIFY_DATE_, DESCRIBE_, ENABLED_, NAME_
  </sql>
  <select id="selectAllWithOneUser" parameterType="java.lang.String" resultMap="RoleResultMap">
    SELECT r.*,m.username_ FROM s_role r left join (SELECT s_role_member.role_id_,s_role_member.USERNAME_ FROM s_role_member,s_user where s_role_member.USERNAME_ = s_user.USERNAME_ and s_user.USERNAME_ = #{username}) m on r.ID_ = m.role_id_
    where r.enabled_ = true
  </select>
</mapper>